<%- include('partials/header.ejs'); -%>
<div class="container">
    <blockquote class="blockquote text-center">
        <p>We are only as strong as we are united, as weak as we are divided.</p>
    </blockquote>
</div>
<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row" style="font-size: larger;">
        <div class="col-lg-4">
            <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1"
                    aria-selected="true">
                    <i class="mdi mdi-help-circle"></i> Frequently Asked Questions
                </a>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="tab-content" id="faq-tab-content">
                <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="accordion" id="accordion-tab-1">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-1">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#accordion-tab-1-content-1" aria-expanded="false"
                                        aria-controls="accordion-tab-1-content-1" style="font-size: larger;">Is this an
                                        official source?</button>
                                </h5>
                            </div>
                            <div class="collapse show" id="accordion-tab-1-content-1"
                                aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>No, for official sources check resources tab.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-2">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#accordion-tab-1-content-2" aria-expanded="false"
                                        aria-controls="accordion-tab-1-content-2" style="font-size: larger;">What is the
                                        source of
                                        information?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-2"
                                aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>The data fetched by us, is maintained by crowdsourced database organised
                                        by covid19india.org, all credit goes to them.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-3">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#accordion-tab-1-content-3" aria-expanded="false"
                                        aria-controls="accordion-tab-1-content-3" style="font-size: larger;">Who is
                                        behind the project?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-3"
                                aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Just two friends from BVCOE, New Delhi studying B.Tech (IT). You can contact us
                                        with details below.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-4">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#accordion-tab-1-content-4" aria-expanded="false"
                                        aria-controls="accordion-tab-1-content-4" style="font-size: larger;">Any problem
                                        or feedback?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-4"
                                aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Have you encountered any problem or have suggestions for us, contact us on our
                                        social handles provided below.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-5">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#accordion-tab-1-content-5" aria-expanded="false"
                                        aria-controls="accordion-tab-1-content-5" style="font-size: larger;">Why make
                                        this?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-5"
                                aria-labelledby="accordion-tab-1-heading-5" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>We wanted to build something
                                        to spread awareness and spread true information not panic.</p>
                                    <p><strong>Example: </strong>Cruel though they may be...</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-6">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#accordion-tab-1-content-6" aria-expanded="false"
                                        aria-controls="accordion-tab-1-content-6" style="font-size: larger;">Is this
                                        Open-Source?</button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-6"
                                aria-labelledby="accordion-tab-1-heading-6" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>Yes, you can checkout our source code on GitHub (all details are provided below)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--container-->
<%- include('partials/footer.ejs'); -%>