<%- include('partials/header.ejs'); -%>

<div class="container animated animatedFadeInUp fadeInUp">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3" style="background-color: white; color: black;">
      Resources
    </h1>
    <p class="lead">Government Provided Channels for help:</p>
    <ol>
      <li>Helpline Number :<strong>+91-11-23978046</strong></li>
      <li>Toll Free : <strong>1075</strong></li>
      <li>Helpline Email ID : <strong>ncov2019@gov.in</strong></li>
    </ol>
    <a
      href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf"
      class="btn btn-primary btn-lg"
      target="_blank"
      >States & U.T. Helpline Numbers</a
    >
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="images/mohfw-r.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">MOHFW</h4>
          <p class="card-text">Official site provided by GOI.</p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.mohfw.gov.in/"
            class="btn btn-primary"
            target="_blank"
            >Find Out More!</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="images/covid19india-r.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">COVID-19 TRACKER India</h4>
          <p class="card-text">
            Due to there crowdsourced patient database, live updates of numbers
            of daily cases, overall cases and others, this site was possible.
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.covid19india.org/"
            class="btn btn-primary"
            target="_blank"
            >Find Out More!</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="images/who-r.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">WHO</h4>
          <p class="card-text">
            To combat this challenge COVID-19 presents we need to stay united
            regardless of our nationality or religion. WHO's instructions helped
            shaped our motto for this project.
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
            class="btn btn-primary"
            target="_blank"
            >Find Out More!</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="images/mapmyindia-r.jpg.png" alt="" />
        <div class="card-body">
          <h4 class="card-title">Map My India</h4>
          <p class="card-text">
            Live look of coronavirus impact with numbers in different states.
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.mapmyindia.com/api/corona/"
            class="btn btn-primary"
            target="_blank"
            >Find Out More!</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<%- include('partials/footer.ejs'); -%>
